@import "../../../../assets/styles/variables";

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 48px 30px;
  transition: 0.3s;
  @media screen and (min-width: $smallDevice) {
    flex: 1 1 47%;
  }
  @media screen and (min-width: $xLargeDevice) {
    flex: 1 1 23%;
  }
  &:hover {
    background-color: $bgColor3;
  }

  .button {
    &:hover {
      background-color: $btnColor3;
      border-color: $btnColor3;
      color: $fontColor1;
    }
  }

  .heading {
    line-height: 150%;
    margin-top: 34px;
  }

  .txt {
    line-height: 175%;
  }

  a {
    margin-top: 24px;
    align-self: flex-end;
    transition: 0;

    .icon {
      margin-left: 2px;
    }
  }
}
