@import "../../../assets/styles/variables";

.headerWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $bgColor1;
  .contentWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 16px 8px 0;
    @media screen and (min-width: $mediumDevice) {
      gap: 30px;
    }
    @media screen and (min-width: $xLargeDevice) {
      max-width: $contentWidth;
    }
    @media screen and (min-width: $xxLargeDevice) {
      padding: 0;
    }
    .imgWrapper {
      display: flex;
      justify-content: center;
      padding: 16px;
      width: 200px;
      height: 112px;
      .img {
        width: 100%;
        object-fit: contain;
      }
    }
    .txtWrapper {
      display: none;
      @media screen and (min-width: $mediumDevice) {
        display: flex;
        width: 100%;
      }
      @media screen and (min-width: $largeDevice) {
        align-self: stretch;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
      }

      .topWrapper {
        @media screen and (min-width: $mediumDevice) {
          display: none;
        }
        @media screen and (min-width: $largeDevice) {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 12px 0;
          border-bottom: 1px solid #dadad4;
        }
      }
      .bottomWrapper {
        @media screen and (min-width: $mediumDevice) {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          width: 100%;
        }
        .navigationWrapper {
          @media screen and (min-width: $mediumDevice) {
            display: flex;
            align-items: flex-start;
            gap: 30px;
            padding-top: 7px;
          }

          .link {
            text-decoration: none;
            color: $fontColor1;
            display: flex;
            flex-direction: column;

            &.active {
              font-weight: 600;
            }

            &:hover::after {
              content: "";
              display: block;
              border-bottom: 2px solid $fontColor1;
              margin-top: 4px;
              width: 16px;
              align-self: center;
            }
          }
        }
      }
    }
  }
  .hamburger {
    z-index: 2;
    @media screen and (min-width: $mediumDevice) {
      display: none;
    }
  }
}

.mobileMenu {
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: $bgColor2;
  height: 100vh;
  width: 100vw;
  transition: 0.5s;
  .navigationWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 35%;

    .link {
      padding: 16px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      color: $fontColor1;
      font-size: 22px;
      font-weight: 600;
    }
    .active {
      background-color: #9ee2ff;
    }
    .mobileLoginBtn {
      margin-top: 32px;
      align-self: center;
    }
  }
}
