@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&display=swap");
.projectCard {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media screen and (min-width: 768px) {
  .projectCard {
    flex: 1 1 47%;
  }
}
.projectCard .img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.projectCard .heading {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  line-height: 150%;
  font-size: 22px;
  flex-grow: 1;
  border-bottom: 1px solid #595957;
  padding-bottom: 16px;
}
.projectCard .link {
  font-size: 14px;
  font-weight: 500;
  line-height: 114%;
  text-decoration: none;
  color: #191919;
  align-self: flex-end;
  justify-self: flex-end;
}
.projectCard .link:hover span {
  text-decoration: underline;
}
.projectCard .link span {
  margin-right: 4px;
}