@import "@styles/_variables";
.projectCard {
  display: flex;
  flex-direction: column;
  gap: 32px;
  @media screen and (min-width: $mediumDevice) {
    flex: 1 1 47%;
  }

  .img {
    width: 100%;
    object-fit: contain;
  }

  .heading {
    font-family: $font2;
    font-weight: 700;
    line-height: 150%;
    font-size: 22px;
    flex-grow: 1;
    border-bottom: 1px solid $fontColor2;
    padding-bottom: 16px;
  }
  .link {
    font-size: 14px;
    font-weight: 500;
    line-height: 114%;
    text-decoration: none;
    color: $fontColor1;
    align-self: flex-end;
    justify-self: flex-end;
    &:hover span {
      text-decoration: underline;
    }
    span {
      margin-right: 4px;
    }
  }
}
