@import "../../../assets/styles/variables";

.newsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 100px 0;

  .contentWrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    @media screen and (min-width: $xLargeDevice) {
      max-width: $contentWidth;
    }

    .headingWrapper {
      display: flex;
      flex-direction: column;
      @media screen and (min-width: $xLargeDevice) {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
      }
      .browseLink {
        white-space: nowrap;
        align-self: center;
        margin-top: 24px;
        @media screen and (min-width: $mediumDevice) {
          align-self: flex-end;
        }
      }
    }

    .cardWrapper {
      display: flex;
      flex-direction: column;
      gap: 64px;
      margin-top: 32px;
      position: relative;
      @media screen and (min-width: $mediumDevice) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 40px;
      }
    }

    .dotWrapper {
      display: none;
      @media screen and (min-width: $mediumDevice) {
        display: flex;
        justify-content: center;
        gap: 16px;
        margin-top: 48px;
      }
      .fa-circle {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.342);
      }
      .active {
        color: #191919;
      }
    }
  }
}

.newsSectionBg {
  background-color: $bgColor1;
  padding: 0;
}
