@media screen and (min-width: 992px) {
  .contactWaysWrapper {
    display: flex;
    gap: 16px;
  }
}
.contactWaysWrapper .infoWrapper {
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .contactWaysWrapper .infoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 9px;
    padding-right: 11px;
    border-right: 1px solid #dadad4;
  }
}
.contactWaysWrapper .infoWrapper.lastOne {
  border-right: none;
}
@media screen and (min-width: 992px) {
  .contactWaysWrapper .infoWrapper .info {
    font-size: 15px;
    font-weight: 400;
  }
}