@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&display=swap");
.featuresSection {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  padding: 64px 5%;
  border: 1.2px solid rgba(89, 89, 87, 0.301);
}
@media screen and (min-width: 768px) {
  .featuresSection {
    padding: 80px 5%;
  }
}
@media screen and (min-width: 1200px) {
  .featuresSection {
    flex-direction: row;
    gap: 72px;
  }
}
@media screen and (min-width: 1400px) {
  .featuresSection {
    padding: 80px 100px;
    max-width: 1520px;
    gap: 100px;
  }
}
.featuresSection .txtWrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .featuresSection .txtWrapper {
    flex: 1 0 50%;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .featuresSection .txtWrapper {
    flex: 1 0 35%;
  }
}
.featuresSection .featureWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 576px) {
  .featuresSection .featureWrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
}