@import "../../../assets/styles/variables";

.input {
  padding: 16px 24px;
  border: none;
  border-radius: 27px;
  flex-grow: 1;
  @media screen and (min-width: $smallDevice) {
    min-width: 300px;
    max-width: 400px;
  }
  &::placeholder {
    color: $fontColor5;
    font-family: $font1;
    font-size: 16px;
  }
}

.formInput {
  padding: 16px 24px;
  border: none;
  border-radius: 27px;
  flex-grow: 1;

  &::placeholder {
    color: $fontColor5;
    font-family: $font1;
    font-size: 16px;
  }
}

.textArea {
  height: 160px;
  margin-bottom: 16px;
}
