@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&display=swap");
.input {
  padding: 16px 24px;
  border: none;
  border-radius: 27px;
  flex-grow: 1;
}
@media screen and (min-width: 576px) {
  .input {
    min-width: 300px;
    max-width: 400px;
  }
}
.input::-moz-placeholder {
  color: #b6b7bc;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
.input::placeholder {
  color: #b6b7bc;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.formInput {
  padding: 16px 24px;
  border: none;
  border-radius: 27px;
  flex-grow: 1;
  font-family: "Inter", sans-serif;
}
.formInput::-moz-placeholder {
  color: #b6b7bc;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
.formInput::placeholder {
  color: #b6b7bc;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.textArea {
  height: 160px;
  margin-bottom: 16px;
}

.error {
  min-height: 24px;
  display: flex;
  align-items: center;
}
.error .errMsg {
  margin-left: 16px;
  color: rgb(207, 14, 14);
}

.searchInput {
  padding: 16px 24px;
  border: none;
  border-radius: 27px;
  flex-grow: 1;
  background-color: rgba(211, 211, 211, 0.534);
}