@import "../../../assets/styles/variables";

.input {
  padding: 16px 24px;
  border: none;
  border-radius: 27px;
  flex-grow: 1;
  @media screen and (min-width: $smallDevice) {
    min-width: 300px;
    max-width: 400px;
  }
  &::placeholder {
    color: $fontColor5;
    font-family: $font1;
    font-size: 16px;
  }
}

.formInput {
  padding: 16px 24px;
  border: none;
  border-radius: 27px;
  flex-grow: 1;
  font-family: $font1;

  &::placeholder {
    color: $fontColor5;
    font-family: $font1;
    font-size: 16px;
  }
}

.textArea {
  height: 160px;
  margin-bottom: 16px;
}

.error {
  min-height: 24px;
  display: flex;
  align-items: center;
  .errMsg {
    margin-left: 16px;
    color: rgb(207, 14, 14);
  }
}

.searchInput {
  padding: 16px 24px;
  border: none;
  border-radius: 27px;
  flex-grow: 1;
  background-color: rgba(211, 211, 211, 0.534);
}
