@import "../../../assets/styles/variables";

.socialMediaIconsWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 24px;

  .link {
    color: inherit;
  }
  .fa-brands {
    cursor: pointer;
  }
}
