@import "../../../assets/styles/variables";

.scrollBtn {
  position: fixed;
  bottom: 50px;
  right: 20px;
  font-size: 48px;
  color: $btnColor2;
  background-color: $bgColor1;
  border-radius: 50%;
  border: 0.5px solid $bgColor1;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  z-index: 2;
  @media screen and (min-width: $largeDevice) {
    right: 50px;
  }
}

.scrollBtn:hover {
  opacity: 1;
  color: $bgColor3;
}
