@import "../../assets/styles/variables";

@media screen and (min-width: $smallDevice) {
} //576
@media screen and (min-width: $mediumDevice) {
} //768
@media screen and (min-width: $largeDevice) {
} //992
@media screen and (min-width: $xLargeDevice) {
} //1200
@media screen and (min-width: $xxLargeDevice) {
} //1400

.pageWrapper {
  .contentWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 100px 0;

    @media screen and (min-width: $xLargeDevice) {
      max-width: $contentWidth;
    }

    .topWrapper {
      margin-bottom: 64px;
      @media screen and (min-width: $smallDevice) {
      } //576
      @media screen and (min-width: $mediumDevice) {
        width: 70%;
      } //768
      @media screen and (min-width: $largeDevice) {
        width: 60%;
      } //992
      @media screen and (min-width: $xLargeDevice) {
      } //1200
      @media screen and (min-width: $xxLargeDevice) {
      } //1400
      .heading {
        margin-bottom: 24px;
      }
      .detailsWrapper {
        display: flex;
        align-items: center;
        gap: 16px;
        .dot {
          color: $btnColor1;
          font-size: 10px;
        }
      }
    }

    .bottomWrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      @media screen and (min-width: $mediumDevice) {
        flex-direction: row;
        justify-content: space-between;
      } //768
      @media screen and (min-width: $largeDevice) {
      } //992
      @media screen and (min-width: $xLargeDevice) {
      } //1200
      @media screen and (min-width: $xxLargeDevice) {
      } //1400
      .leftWrapper {
        @media screen and (min-width: $smallDevice) {
        } //576
        @media screen and (min-width: $mediumDevice) {
          width: 70%;
        } //768
        @media screen and (min-width: $largeDevice) {
          width: 60%;
        } //992
        @media screen and (min-width: $xLargeDevice) {
        } //1200
        @media screen and (min-width: $xxLargeDevice) {
        } //1400
        .img {
          width: 100%;
          object-fit: contain;
        }
        .txt {
          color: $fontColor2;
        }
      }
      .rightWrapper {
        display: flex;
        flex-direction: column;
        gap: 32px;
        @media screen and (min-width: $smallDevice) {
        } //576
        @media screen and (min-width: $mediumDevice) {
          width: 25%;
        } //768
        @media screen and (min-width: $largeDevice) {
          width: 30%;
        } //992
        @media screen and (min-width: $xLargeDevice) {
        } //1200
        @media screen and (min-width: $xxLargeDevice) {
        } //1400

        .recentWrapper {
          padding: 24px;
          border: 1px solid $fontColor5;
          .recCard {
            .title {
            }
            .date {
              color: $fontColor5;
              font-weight: 300;
              font-size: 14px;
            }
          }
        }

        .categoriesWrapper {
          padding: 24px;
          border: 1px solid $fontColor5;
          .span {
            font-weight: 400;
            font-size: 14px;
          }
        }
      }
    }
  }
}
