@import "@styles/_variables.scss";

//general
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border: 1px solid black;
  padding: 16px 24px;
  border-radius: 27px;
  font-family: $font1;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: $fontColor1;
  transition: 0.3s;
  white-space: nowrap;
  &:hover {
    background-color: $btnColor2;
    border-color: $btnColor2;
    color: $fontColor3;
  }
}

//different colors
.btnYellow {
  background-color: $btnColor1;
  border-color: $btnColor1;
}
.btnWhite {
  background-color: $btnColor3;
}
.btnBlack {
  background-color: $btnColor2;
  border-color: $btnColor2;
  color: $fontColor3;
  &:hover {
    background-color: $btnColor1;
    border-color: $btnColor1;
    color: $fontColor1;
  }
}

//specials
.loginBtn {
  padding: 10px 24px;
}
.learnMoreBtn {
  margin-top: 40px;
  align-self: center;
  @media screen and (min-width: $mediumDevice) {
    align-self: flex-start;
  }
  @media screen and (min-width: $xLargeDevice) {
    width: 100%;
  }
}
.showMoreBtn {
  font-weight: 500;
  font-family: $font1;
  align-self: center;
  padding: 8px 12px;
  margin-top: 48px;
  @media screen and (min-width: $smallDevice) {
    display: none;
  }
}
.btnRound {
  width: 53.5px;
  height: 53.5px;
  border-radius: 50%;
  padding: 0;
}
.alignSelfCenter {
  align-self: center;
}
