@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&display=swap");

$contentWidth: 1320px;

$fontColor1: #191919;
$fontColor2: #595957;
$fontColor3: #ffffff;
$fontColor4: #f94d1c;
$fontColor5: #b6b7bc;

$font1: "Inter", sans-serif;
$font2: "DM Sans", sans-serif;

$btnColor1: #f9d783;
$btnColor2: #191919;
$btnColor3: #ffffff;

$bgColor1: #f0efe9;
$bgColor2: #beebff;
$bgColor3: #edcf87;
$bgColor4: #0e1021;

$smallDevice: 576px;
$mediumDevice: 768px;
$largeDevice: 992px;
$xLargeDevice: 1200px;
$xxLargeDevice: 1400px;
