.logoSection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 80px 0;
}
@media screen and (min-width: 1200px) {
  .logoSection {
    max-width: 1320px;
  }
}
.logoSection .img {
  height: 88px;
  width: 224px;
  flex-grow: 1;
}